#head {
	height: 100px;
	background-color: #191b28;
}
body {
	margin: 0px;
	background-color: #f1f1f1;
}
#name {
	font-size: 40px;
	font-family: cursive;
	color: #f7e9c4;
	margin-left: 30px;
	position: relative;
    top: 15;
}
strong {
	font-weight: 900;
}
#login {
	float: right;
	margin-right: 30px;
	position: relative;
	top: 25px;
	font-size: 30px;
}
.user {
	margin-right: 25px;
}
#body {
	padding-top: 50px;
}	
#signup {
    width: 400px;
    margin-left: 100px;
    background-color: #d4d4d4;
    font-family: arial;
    padding: 20px;
    float: left;
    box-shadow: 2px 2px 15px #9d9d9d;
}
#s1 {
	text-align: center;
	font-size: 40px;
}
#f2 {
	width: 300px;
	text-align: center;
	margin-left: 50px;
}
.signup {
	width: 300px;

}
#bday {
	float: left;
	font-family: times new roman;
}
#gender {
	text-align: left;
}
.male {
	margin-right: 20px;
}
#disp {
	float: right;
	padding: 30px;
	height: 331px;
	text-align: left;
	width: 500px;
	position: relative;
	right: 100;
	overflow: auto;
	box-shadow: 2px 2px 15px #9d9d9d;
	background-color: #d4d4d4;
}
#user {
	float: right;
	position: relative;
	top: 3px;
}
#print {
		-webkit-margin-before: 0px;
		-webkit-margin-after: 0px;
		-webkit-margin-end: 0px;
		-webkit-margin-start: 0px;
		width: 483;
		position: relative;
		top: -17px;
	}
#info {
	position: relative;
	height: 18px;
	top: 4px;
}
button {
	height: 18px;
}
#remb {
	color: white;
	font-size: 18;
	position: relative;
	left: -3px;
	top: 5px;
}