<?php /*
 session_start();
 include 'rememberme.php';
 if($check==0)
 { header("Location: filesharing.php");} */
?> 
<!doctype html>
<html>
<head meta charset="utf-8">
<link rel="stylesheet" href="assets/css/user.css">
<title>Welcome</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>	
<div id="head">
    <span id="name"><strong>C</strong>hat24<strong>X</strong>7</span> 
    <a id="logout" href="/logout">Logout</a>
    <div id="usernamedisp">{{user}}</div>
</div> 
<div id="main">  
<h3>WELCOME! Share your views and get access to the comments shared by users from around the world</h3><br/><br/>
<div id="main2">
<form id="sub_comment">
<textarea class="file" name="file" placeholder="Comment"></textarea><br/><br/>
<input type="submit" value="Post" name="submit" id="submit">
</form>
</div>
<div id="main3">
<div id="check"></div>
{% for post in posts %}
<div><strong>{{post.username}}:</strong>{{" "}}{{post.comment}}<br/><span id="info"><span id="a{{post.id}}">{{post.likes}}</span><button onclick="vote({{post.id}})">LIKE</button></span><span id="user">{{post.time}}</span></div><hr id="print"><br/>
{% endfor %}
</div>
</div>
<script src="assets/js/ajax.js"></script>
<script>
	function vote(id){
	  var da={
	    uni:id
	  };
	  $.ajax({
	    url:"/vote",
	    type:"POST",
	    data: {dat: da},
	    datatype: 'JSON',
	    success: function(res) {
	      $("#a"+id).html(res);
	    }
	  })
	}
</script>
</body>
</html>